<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('chat_bp.static', filename='style/chat.css') }}">
    <title>Chat</title>
</head>
<style>
    .outer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1, h2{
        text-align: center;
    }
    form{
        text-align: center;
    }
    .incoming-message{
        text-align: left;
    }
    .outgoing-message{
        text-align: right;
    }
</style>
<body>
    {% extends 'GuestHomepage.html' %}
    {% block body %}
    <div class="outer-container">

        <h1>Chat</h1>

        <div class="start-new-chat-container">
            <h2>Start New Chat</h2>
            <form>
                <input type="text" name="user-id" placeholder="User ID">
                <input type="text" name="product-id" placeholder="Product ID">
                <input type="submit" name="start-chat" value="Start Chat">
            </form>
        </div>

        <div class="open-previous-chat-container">
            <h2>Open Previous Chat</h2>
            <form>
                <select>
                    <option value="no-chats">No chats to select.</option>
                    <option value="chat1">ID 1 - vendor/admin name</option>
                    <option value="chat2">ID 2 - vendor/admin name</option>
                    <option value="chat3">ID 3 - vendor/admin name</option>
                </select>
                <input type="submit" name="open-chat" value="Open Chat">
            </form>
        </div>

        <br>

        <div class="chat-container">
            <h1>Chat with vendor/admin name</h1>
            <div class="chat-messages">
                <div class="incoming-message">
                    <p>username at 00/00/00 00:00:00</p>
                    <p>Text text text text message from incoming user</p>
                </div>

                <br>

                <div class="outgoing-message">
                    <p>username at 00/00/00 00:00:00</p>
                    <p>Text text text text message from outgoing user</p>
                </div>
            </div>
        </div>

        <div class="send-message-container">
            <form>
                <input type="text" name="message" placeholder="Type your message here...">
                <input type="submit" name="send-message" value="Send">
            </form>
        </div>

    </div>
    {% endblock %}
</body>
</html>