<head><link rel="stylesheet" href="{{ url_for('user_bp.static', filename='styles/Profile.css') }}"></head>
{% extends 'VendorHomepage.html'%} {% block body%}
<section class="Main">
  <h1>{{customer_data['Name'].title()}}'s Profile</h1>
</section>
<section class="ProPageContainer">
<section class="ProSideNav">
<ul class="ProPageNav">
    <li onclick="window.location.href='{{ url_for('admin_bp.GetProfileInfo') }}'">Profile</li>
    <li onclick="window.location.href='{{ url_for('admin_bp.claimHistory') }}?type=return'">Return Claims</li>
    <li onclick="window.location.href='{{ url_for('admin_bp.claimHistory') }}?type=refund'">Refund Claims</li>
    <li onclick="window.location.href='{{ url_for('admin_bp.claimHistory') }}?type=warranty'">Warranty Claims</li>
</ul>
</section>
<section class="ProfileInfo">
  <h2>Name:</h2>
  <input type="text" disabled placeholder="{{customer_data['Name'].title()}}" />
  <h2>Email:</h2>
  <input type="text" disabled placeholder="{{customer_data['Email']}}" />
  <h2>User:</h2>
  <input type="text" disabled placeholder="{{customer_data['User'].title()}}" />
</section>
</section>

</section>
{% endblock body %} {% block scripts %} {% endblock scripts %}
