<style>
    .Main{
        display: flex;
        flex-direction: column;
        /* margin-top: 3%; */
        justify-content: space-around;
        background-color: bisque;
    }
    .Pending-Account {
        width: 100%;
        height: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: aquamarine; */
    }
    .Pending-Account-Container{
        width: 80%;
        height: 100%;
        background-color: rgb(217, 197, 236);
        border-radius: 6px;
    }
    .Pending-Grid-Container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 100%;
        height: 88.5%;
        overflow-y: auto;
        /* background-color: brown; */
    }
    .Pending-card {
        display: flex;
        flex-direction: column;
        justify-content: center;   
        align-items: center;       
        text-align: center;        
        margin: auto;
        padding: 20px 20px;
        border-radius: 5px;
        width: 80%;
        height: 90%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        background-color: cadetblue;
    }

    .Pending-card input{
        justify-content: space-around;
    }
</style>
{% extends 'GuestHomepage.html'%}

{% block body %} 
<section class="Main">
    <h1>Pending Accounts</h1>

    <section class="Pending-Account" style="margin-bottom: 3%;">
        <div class="Pending-Account-Container">
            <h1>Admins</h1>
            <div class="Pending-Grid-Container">
                {% for admin in UnAuthorizedAdmins %}
                <div class="Pending-card">
                    <form action="{{url_for('admin_bp.AdminChangeAccountsAuth')}}" method="POST">
                        <input type="hidden" name="AID" value="{{ admin.AID }}">
                        <h1>Name: {{ admin.name }}</h1>
                        <h1>Email: {{ admin.email }}</h1>
                        <h1>Authoritization: {{ admin.Authorization }}</h1> 
                        <input type="submit" class="form-sub"value="Approve">
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="Pending-Account">
        <div class="Pending-Account-Container">
            <h1>Vendors</h1>
            <div class="Pending-Grid-Container">
                {% for vendor in UnAuthorizedVendor %}
                <div class="Pending-card">
                    <form action="{{url_for('admin_bp.AdminChangeAccountsAuth')}}" method="POST">
                        <input type="hidden" name="VID" value="{{ vendor.VID }}">
                        <h1>Name: {{ vendor.name }}</h1>
                        <h1>Email: {{ vendor.email }}</h1>
                        <h1>Authoritization: {{ vendor.Authorization }}</h1> 
                        <input type="submit"class="form-sub" value="Approve">
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</section>
{% endblock body %}