<style>
  



  .OrderContainter {
    display: grid;
    height: 70vh;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
    padding: 2em;
    gap: 3em;
    overflow: scroll;
    overflow-x: hidden;
  }
  .OrderCard {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    max-height: 40.112vh;
    background-color: var(--Primary);
    padding: 2em;
    border-radius: 20px;
    justify-content: space-evenly;
    box-shadow: var(--BoxShadow);
  }
</style>
<head><link rel="stylesheet" href="{{ url_for('user_bp.static', filename='styles/Profile.css') }}"></head>
{% extends 'CustomerHomepage.html' %} {% block body%}
<section class="Main">
  <h1>{{customer_data['User'].title()}}'s Profile</h1>
</section>
<section class="ProPageContainer">
  <section class="ProSideNav">
<ul class="ProPageNav">
  <li onclick="window.location.href='{{url_for('customer_bp.ViewOrderHistory')}}'">Order History</li>
  <li onclick="window.location.href='{{url_for('customer_bp.ViewProfile')}}'"><span id ="Current">Profile Information</span></li>
</ul>
</section>
<section class="ProfileInfo">
    <h2>Name: </h2>
<input type=text  disabled placeholder="{{customer_data['Name'].title()}}">
<h2>Email:</h2>
<input type="text" disabled placeholder="{{customer_data['Email']}}">
<h2>User:</h2>
<input type="text" disabled placeholder="{{customer_data['User'].title()}}">
</section>

</section>

{% endblock body %}
<!-- {% block scripts %}
{% endblock scripts %} -->
