 .ProPageNav{
      display: flex;
      flex-direction: column;
      gap:3em;
      align-items: center;
      border-right: solid black 1px;
  }
  .ProPageNav li{
    cursor: pointer;
    list-style: none;
    font-weight: 600;
    color:var(--Quad);
    transition:  .5s ease-in-out;
  }
  .ProPageNav li:hover{
    color:var(--FONT);
    transition:  .5s ease-in-out;
  } 
  .product_container{
    display: none !important;
  }
.ProPageContainer{
  display:flex;
  height:100%;
  flex-direction: row;
}

.ProPageContainer::-webkit-scrollbar {
    width: 0.2em;
    /* height: 2em; */
  }
  .ProPageContainer::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%);
    /* height:80%; */
  }
  .ProPageContainer::-webkit-scrollbar-thumb {
    background: linear-gradient(
      0deg,
      hsl(0, 0%, 95%) 0 10%,
      black 50% 55%,
      hsl(0, 0%, 95%) 90% 100%
    );
    border-radius: 32px;
  }
.ProSideNav{
  width:20vw;

}
#Current{
    color: var(--Secondary);
}
/* ---------------------------------------- */

.ProfileInfo{
    padding:2em;
    width:60vw;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.ProfileInfo input[type=text]{
    padding: .5em;
    /* width:50%; */
    border: none;
    box-shadow: var(--BoxShadow);
    border-bottom: 1px solid hsla(0, 0%, 99%,0.5);
    background-color: hsl(0, 0%, 86%);
    outline: none;
    &::placeholder{
        color: black;
    } 
}