<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="{{ url_for('login_bp.static', filename='style/Auth.css') }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    {% block body %}
    <section class="leftSide">
    </section>
    <section class="rightSide">
      <form class="Form-Container" method="POST">
        <input type="email" name="Email" id="Email" />
        <input type="password" name="Pass" id="Pass" />
        <input type="submit" value="LOG IN">
      </form>
      <button onclick="window.location.href='{{ url_for('register_bp.register_who') }}'">Sign up</button>
    </section>
    {% endblock body %}
  </body>
</html>