<title>Register</title>
{% extends 'Login.html' %}

{% block body %}
    <section class="form">
        <form>
            <input type="text" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="Email">
            <input type="text" name="fname" placeholder="Full Name">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" name="submit" value="REGISTER">
        </form>
    </section>
{% endblock body %}