<link rel="stylesheet" href="{{ url_for('register_bp.static', filename='style/Auth.css') }}" />
<title>Register</title>
<style>
</style>
{% extends 'Login.html' %}
    
    {% block body %}
    <section class="container" style="justify-content: flex-start;">
        <section class="sign-up-page">
            <div class="sign-up-header">
                <h1 id="Login">Signup</h1>
                <div style="width: auto; height: auto;" class="login-css">
                    <button id="login-btn" class="form-sub login" onclick="window.location.href='{{ url_for('login_bp.Login') }}'">
                        <p>Login</p>
                            <img src="{{ url_for('register_bp.static', filename='icons/login.png') }}" class="login-icon">                         
                    </button>
                      
                </div>
            </div>
            <!-- Display success or error message -->
            {% if success == True %}
                <h2 style="color: green; margin: 0%;">{{ message }}</h2>
            {% elif success == False %}
                <h2 style="color: red; margin: 0%;">{{ message }}</h2>
            {% endif %}
            
            <!-- Conditional Forms -->
            {% if reg_type == 'customer' %}
            <form class="form-css" method="POST" action="{{ url_for('register_bp.register_view_customer') }}">
                <input class="form-input"type="text" name="username" placeholder="Username" required>
                <input class="form-input"type="text" name="full_name" placeholder="Full Name" required>
                <input class="form-input"type="email" name="email" placeholder="Email" required>
                <input class="form-input"type="password" name="password" placeholder="Password" required>
                <input class="form-sub" type="submit" value="Sign-up as Customer">
            </form>
            {% elif reg_type == 'vendor' %}
            <form class="form-css" method="POST" action="{{ url_for('register_bp.register_view_vendor') }}">
                <input class="form-input"type="text" name="username" placeholder="Username" required>
                <input class="form-input"type="text" name="full_name" placeholder="Full Name" required>
                <input class="form-input"type="email" name="email" placeholder="Email" required>
                <input class="form-input"type="password" name="password" placeholder="Password" required>
                <input class="form-sub" type="submit" value="Sign-up as Vendor">
            </form>
            {% elif reg_type == 'admin' %}
            <form class="form-css" method="POST" action="{{ url_for('register_bp.register_view_admin') }}">
                <input class="form-input"type="text" name="username" placeholder="Username" required>
                <input class="form-input"type="text" name="full_name" placeholder="Full Name" required>
                <input class="form-input"type="email" name="email" placeholder="Email" required>
                <input class="form-input"type="password" name="password" placeholder="Password" required>
                <input class="form-sub" type="submit" value="Sign-up as Admin">
            </form>
            {% endif %}
            <div class="other-options">
                <!-- Link to Customer registration -->
                <button class="form-sub" onclick="window.location.href='{{ url_for('register_bp.register_who', type='customer') }}'">
                    Customer
                </button>
                <!-- Link to Vendor registration -->
                <button class="form-sub" onclick="window.location.href='{{ url_for('register_bp.register_who', type='vendor') }}'">
                    Vendor
                </button>
                <!-- Link to Admin registration -->
                <button class="form-sub" onclick="window.location.href='{{ url_for('register_bp.register_who', type='admin') }}'">
                    Admin
                </button>
            </div>
        </section>
    </section>
    {% endblock %}
