:root{
    --FONT: #bfdf9f;
    --Btn: #c6c295;
    --HovBtn:#bdb884;
    --Primary:#5C8966;
    --Secondary:#2D4B48;
    --Tertiary:#788497;
    --Quad:#669294;
    --DropShadow:6px 6px 10px hsl(217, 72%, 18%,16%),
    -4px -4px 10px hsla(0, 0%, 99%,50%);
  
    --InnerShadow:-2px -2px 2px #00000026,
    2px 2px 2px hsla(0, 0%, 99%,100%);
  }
body{
    display: flex;
    align-items: center; 
    height: 100vh; 
    margin: 0;
    background: linear-gradient(to right, #1e2d24, #2c3e30);
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
    width: 70%;
    height: 70%; 
    border-radius: 8px;
    background-color: rgb(63, 128, 63);
    background: url("https://wallpaperaccess.com/full/6438515.jpg");
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    background-size: cover;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.sign-up-page, .log-in-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: relative;
    z-index: 2; 
}

.sign-up-page,
.log-in-page {
    background-color: rgba(0, 0, 0, 0.4); 
}

#Login{
margin:10px 0px;
color:white;
align-self: flex-start;
padding-left: 0.5em;
font-size: 4em;
}

.form-css{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 80%;
    padding:2em;
    
    /* box-shadow: var(--DropShadow); */
}

.form-input{
    padding: .5em;
    width:100%;
    border: none;
    border-bottom: 1px solid hsla(0, 0%, 99%,0.5);
    background-color: transparent;
    outline: none;
    &::placeholder{
        color: #F8F2F4;
    } 
    color:#F8F2F4;
}

.form-sub {
    background-color: var(--Btn); 
    color: var(--Secondary); 
    font-size: 17px; 
    font-weight: 600; 
    border: none;
    border-radius:6px; 
    cursor: pointer;
    width: auto;
    height: auto;
    text-transform: uppercase; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.4em 1em; 
    transition: all 0.3s ease; 
    outline: none;
    display: inline-block;
    text-align: center; 
}

.form-sub:hover {
    background-color: var(--HovBtn); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    transform: translateY(-4px); 
}

.other-options{
    display: flex;
    width: 200px;
    gap:.4em;
    padding: 0.4em 1em;
    justify-content: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
  /* <weight>: Use a value from 200 to 700 */
    font-weight:350 ;
    font-style: normal;
  }
  h3{
  
  /* <weight>: Use a value from 200 to 700 */
    font-weight:550 ;
    font-size:larger;
    
  }
  h4{
  /* <weight>: Use a value from 200 to 700 */
    font-weight:550 ;
    font-size:medium;
  }

  .sign-up-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .login-icon{
    width: 25px;
    height: auto;
    color: #2c3e30;
  }
  #login-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .login{
    color: #726d36;
    background-color: transparent;
  }
  /* .login:not(:hover){
    color: #F8F2F4;
    
  } */
  