<style>
  .Empty{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:2em;
  }
  #EmpText{
    font-size: xx-large;
  }
  #ShockedEm{
    width:5rem;
  }
  #OutStock{
    color:brown;
  }
  .Cart-Container {
    display: flex;
    height:70vh;
    flex-direction: column;
    /* background-color: var(--Primary); */
    padding: 2em;
    gap: 3em;
   
    overflow: scroll;
    overflow-x: hidden;
    
  }
  .Cart-Container::-webkit-scrollbar {
   width:.2em;
   /* height: 2em; */
    
  }
  .Cart-Container::-webkit-scrollbar-track{
    background: hsl(0, 0%, 95%);
    /* height:80%; */
    
  }
  .Cart-Container::-webkit-scrollbar-thumb{
    background:linear-gradient(0deg, hsl(0, 0%, 95%) 0 10%  ,black 50% 55%, hsl(0, 0%, 95%) 90% 100% );
    border-radius: 32px;
  }
  .item-Card {
    display: flex;
    flex-direction: row;
    width:100%;
    max-width: 100%;
    max-height: 15.112vh;
    background-color: white;
    padding: 2em;
    border-radius: 20px;
    justify-content: space-between;
    box-shadow: var(--BoxShadow);
  }
  .item-Card.OutOfStock {
   
    background-color: hsl(0, 0%, 66%);
    
  }
  .BTN.OutOfStock{
 color: brown;
   background-color: hsl(0, 0%, 76%);
  }
  .item-info {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 60%;
    align-items: center;
  }
  .item-info img{
    height:5em;
  }
  .item-info.OutOfStock{
    text-decoration: line-through;
    opacity: 50%;
  }
  .product_container {
    display: none;
  }
  #Title {
    text-align: left;
    padding: 1em;
  }
  #Total{
    border-top: 1px black solid;
  }
  #quantity{
        padding:.2em;
        outline:none;
        border:.5px solid var(--Secondary);
        border-radius: 10px;
        width:3.1em;
    }
  #Removesection{
        margin:0;
    }
  .item-fun{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap:1em;
    align-items: center;
  }
  .Cart-Total-Section {
    display: flex;
    
  }
  .totals-Container{
    padding:2em;
  }
  

</style>
{% extends 'GuestHomepage.html' %}
 {% block body %}
 {% if CartList==[] %}
 <section class="Empty">
  <h1 id = 'EmpText'>Your cart is empty!</h1>
  <img id ='ShockedEm' src="https://wallpapers.com/images/hd/surprised-emoji-expression-avxqgla4xh0x2gl7.jpg"  alt="SHocked" srcset="">
</section>
 {% else %}
 <section class="Main">
<h1 id="Title">{{username.title()}}'s Cart</h1>
{% if ItemStatus %}
<h1>Item(s) are OUT OF STOCK. Please remove them!</h1>

{% endif %}
<section class="Cart-Total-Section">
  <section class="Cart-Container">
    {% for item in CartList %}
    {% if item['Price'] != 'OUT OF STOCK' %}
    <section class="item-Card">
      <section class="item-info">
        <img src="{{item['image_url']}}" alt="{{item['title']}}">
        <h3>{{item['title']}}</h3>   
        <p>{{item['color']}}</p>
        <p>{{item['description']}}</p>
      </section>
      <section class="item-fun">
        
        <form action="{{url_for('cart_bp.quantityUpdate',username=g.User['Name'])}}" method="post">
        <input type="hidden" name="UpdatedItem" value="{{item['itemid']}}" />
        <input type="hidden" name="UpdatedItemPID" value="{{item['PID']}}" />
        <input type="hidden" name="UpdatedItemColor" value="{{item['color']}}" />
        <input type="number" name="ItemQuantity" id="quantity" value="{{item['quantity']}}" min="1" max="{{item['Inventory']}}" onchange="this.form.submit();">
        </form>
        
        <h3 id="Instock">${{'%0.2f' | format(item['Price']|float)}}</h3>
        <form id="Removesection"
          action="{{url_for('cart_bp.RemoveFromCart',username=g.User['Name'])}}"
          method="POST"
        >
          <input type="hidden" name="RemovedItem" value="{{item['itemid']}}" />
          <input class="BTN"type="submit" name="RemoveBTN" value="Remove Item" />
        </form>
      </section>
    </section>
        {% else %}
        <section class="item-Card OutOfStock">
          <section class="item-info OutOfStock">
            <img src="{{item['image_url']}}" alt="{{item['title']}}">
            <h3>{{item['title']}}</h3>   
            <p>{{item['color']}}</p>
            <p>{{item['description']}}</p>
          </section>
          <section class="item-fun">
            
            
        <h3 ID="OutStock">{{item['Price']|string}}</h3>
        <form id="Removesection"
          action="{{url_for('cart_bp.RemoveFromCart',username=g.User['Name'])}}"
          method="POST"
        >
          <input type="hidden" name="RemovedItem" value="{{item['itemid']}}" />
          <input class="BTN OutOfStock"type="submit" name="RemoveBTN" value="Remove Item" />
        </form>
      </section>
    </section>
        {% endif %}
        
    {% endfor %}
  </section>
  <!-- From old Final -->
  
  

  <section class="totals-Container">
    <h2>Cart Totals</h2>
    {% if total%}
    <h3 id="Total">Total: {{'%0.2f' | format(total|float)}} </h3>
    {% else %}
    <h3 id="Total">No Total </h3>
    {% endif %}
    <button id="CheckoutBTN" onclick="window.location.href='{{url_for('cart_bp.GotoCheckout',username=g.User['Name'])}}'"> Proceed to checkout</button>
  </section>
</section>
</section>
{% endif %}

{% endblock %}